body
{
  background-color: #e1f2fb;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin-top: 20px;
}
h2
{
  color: #07456f;
  font-family: 'Special Elite', cursive;
}
h3
{
  color: #07456f;
  font-family: 'Montserrat', sans-serif;
}
p
{
  color: #222831;
  line-height: 2;
}
a
{
  color: #05dfd7;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
a:hover
{
  color: #bbe1fa;
}
hr
{
  border: dotted #9dd8c8 10px;
  border-bottom: none;
  clear: both;
  margin: 100px auto;
  width: 5%;
}
.backdrop
{
  background-image: url("../images/backdrop.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  height: 38rem;
}
.container_1
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title
{
  color: #ffffff;
  font-family: 'Special Elite', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
}
.container_2
{
  padding-top: 100px;
  padding-bottom: 100px;
}
.intro
{
  width: 45%;
  margin: auto;
}
.skill-row
{
  margin: 75px auto;
  text-align: left;
  width: 50%;
}
.gameDev
{
  float: left;
  margin: -10px 30px 30px 0;
  width: 30%;
}
.webDev
{
  float: right;
  margin: -25px 0 30px 30px;
  width: 30%;
}
.aeromodelling
{
  float: left;
  margin: -10px 30px 30px 0;
  width: 30%;
}
.contact
{
  width: 40%;
  margin: auto;
  padding-bottom: 40px;
}
.container_3
{
  background-color: #0f4c75;
  padding-top: 40px;
  padding-bottom: 20px;
}
.copyright
{
  color: #fef6fb;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
  padding-top: 20px;
}
.btn
{
  background: #0f4c75;
  background:  -webkit-gradient(top, #0f4c75, #3282b8);
  background-image: -webkit-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -moz-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -ms-linear-gradient(top, #0f4c75, #3282b8);
  background-image: -o-linear-gradient(top, #0f4c75, #3282b8);
  background-image: linear-gradient(to bottom, #0f4c75, #3282b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover
{
  background: #1b7f8f;
  background:  -webkit-gradient(top, #1b7f8f, #52bfd1);
  background-image: -webkit-linear-gradient(top, #1b7f8f, #52bfd1);
  background-image: -moz-linear-gradient(top, #1b7f8f, #52bfd1);
  background-image: -ms-linear-gradient(top, #1b7f8f, #52bfd1);
  background-image: -o-linear-gradient(top, #1b7f8f, #52bfd1);
  background-image: linear-gradient(to bottom, #1b7f8f, #52bfd1);
  text-decoration: none;
}
